* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
  }
  html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #f6f6f6;
    color: #191919;
    position: relative;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
  }
  
  a {
    color: #606060;
    display: inline-block;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
  }
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }