@import "global";
@import "fonts";
@import "media";

//start header
.header {
    background-color: #fff;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 35px 0 25px;
    font-weight: 500;
    &-menu {
        ul {
            padding-top: 10px;
            li {
                text-transform: uppercase;
                font-weight: 500;
                cursor: pointer;
                & + li {
                    margin-left: 25px;
                }
            }
        }
    }
    &-contact {
        padding-top: 10px;
    }
}
.header__inner-menu a.active {
    color: #1caba4;
}
//end header
//start slider
.slider__inner-item {
    background-position: top center;
    background-size: cover;
    position: relative;
    min-height: 500px;
}
.slider__content {
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-title {
        font-size: 38px;
        line-height: 84px;
        color: #171717;
    }
    span {
        max-width: 600px;
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        color: #323131;
    }
}
ul.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    li {
        border-radius: 50%;
        margin: 0 6px;
        height: 8px;
        width: 8px;
        border: 1px solid #787878;
        font-size: 0;
    }
}

.slick-dots li button {
    display: none;
}
.slick-dots li.slick-active {
    background-color: #10c9c3;
    height: 12px;
    width: 12px;
    border: none;
}
//end slider
//start progress
.progress__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 100px;
    &-item {
        max-width: 220px;
        display: flex;
        align-items: center;
        height: 100%;
        span {
            font-size: 50px;
            padding-right: 30px;
            color: #16857f;
        }
    }
}
.progress__box {
    color: #1caba4;
    font-family: "Raleway", sans-serif;
    .inner__number {
        font-size: 26px;
    }
    .inner__text {
        text-transform: uppercase;
        padding-top: 10px;
        font-weight: 500;
    }
}
//end progress
//start products
.products__inner {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    &-item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 25%;
        height: 300px;
        &__box {
            background: rgb(22, 133, 127);
            background: linear-gradient(
                0deg,
                rgba(22, 133, 127, 1) 0%,
                rgba(28, 171, 164, 1) 35%,
                rgba(16, 201, 195, 1) 100%
            );
            width: 0;
            height: 0;
            overflow: hidden;
            .item__title {
                color: #fff;
                display: flex;
                align-content: center;
                justify-content: center;
                flex-wrap: wrap;
                height: 100%;
                text-transform: capitalize;
                font-family: "Raleway", sans-serif;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}
.products__inner-item:hover .products__inner-item__box {
    width: 100%;
    height: 100%;
}
//end products
//start contact form
.contact-form__inner {
    text-align: center;
    padding: 100px 0;
    margin-left: auto;
    margin-right: auto;
    width: 670px;
    display: flex;
    flex-direction: column;
    &-title {
        font-weight: 700;
        font-size: 30px;
        color: #1d1d1d;
        padding-bottom: 40px;
    }
    span {
        font-size: 16px;
        color: #787878;
        padding-bottom: 10px;
    }
    &-row {
        display: flex;
        justify-content: space-between;
        input {
            width: 320px;
            height: 50px;
            border: 1px solid #dddddd;
            padding-left: 20px;
            font-size: 15px;
        }
    }
    input,
    textarea,
    button {
        margin-top: 30px;
    }
    input {
        max-width: 100%;
        height: 50px;
        border: 1px solid #dddddd;
        padding-left: 20px;
        font-size: 15px;
    }
    textarea {
        max-width: 100%;
        height: 175px;
        border: 1px solid #dddddd;
        padding-left: 20px;
        padding-top: 20px;
        font-size: 15px;
    }
    button {
        width: 180px;
        height: 60px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border: none;
        background: rgb(22, 133, 127);
        background: linear-gradient(
            0deg,
            rgba(22, 133, 127, 1) 0%,
            rgba(28, 171, 164, 1) 35%,
            rgba(16, 201, 195, 1) 100%
        );
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        display: 500px;
    }
}
//end contact form
//start footer
.footer {
    background-color: #141414;
    color: #bcbcbc;
    font-size: 15px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 75px 0 55px;
    max-width: 870px;
}
.footer__inner-copy {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.footer__col {
    max-width: 145px;
    width: 100%;
}
.footer__col-info {
    padding-bottom: 10px;
    a {
        color: #bcbcbc;
    }
}
.footer__col-inner {
    display: flex;
    justify-content: space-between;
}
.footer__col-list {
    a {
        margin-bottom: 10px;
        color: #bcbcbc;
        padding-left: 80px;
        &:hover {
            color: #1caba4;
        }
    }
}
//end footer
//start about page
.about-info {
    padding: 160px 0 0px;
}
.about-info__content {
    margin: auto;
    width: 640px;
    text-align: center;
    &-title {
        font-size: 30px;
        color: #191919;
        padding-bottom: 40px;
    }
    &-text {
        font-size: 16px;
        line-height: 24px;
        color: #787878;
        padding-bottom: 55px;
    }
}
.about-info__photo {
    padding-top: 180px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    &-content {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 570px;
    }
}
.about-slider {
    background: rgb(22, 133, 127);
    background: linear-gradient(0deg, rgba(22, 133, 127, 1) 0%, rgba(28, 171, 164, 1) 35%, rgba(16, 201, 195, 1) 100%);
    color: #fff;
    padding-top: 100px;
}
.about-slider__inner-item {
    margin: auto;
    max-width: 830px;
    text-align: center;
    display: block !important;
}
.about-slider__text {
    font-size: 26px;
    line-height: 36px;
    padding-bottom: 40px;
}
.about-slider__author {
    text-transform: uppercase;
    font-size: 14px;
}
.about-slider__inner {
    ul.slick-dots li {
        border: 1px solid #fff;
    }
    .slick-dots li.slick-active {
        background-color: #10c9c3;
        border: none;
    }
}
//end about page
//start contact page
.contacts__inner {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}
.contacts__inner-info {
    max-width: 400px;
    margin-right: 100px;
}
.title {
    padding: 30px 0;
    font-size: 30px;
    color: #171717;
    font-weight: 700;
}
.text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
    color: #787878;
}
.detail-text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;
    color: #787878;
    a {
        color: #787878;
    }
    span {
        font-weight: 700;
        color: #171717;
    }
}
.contacts__inner-form {
    padding: 0;
}
.map__inner {
    padding-bottom: 100px;
}
.map__inner {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map__inner iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
//end contact page
//start detail page
.detail {
    padding-bottom: 40px;
}
.detail__inner-item {
    display: flex !important;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-left: 10px;
    &-content {
        max-width: 500px;
        padding-top: 50px;
    }
}
.detail__inner-item-photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 570px;
    margin-right: 5px;
}
.slick-arrow {
    border: none;
    background-color: #f6f6f6;
    min-width: 160px;
    text-transform: uppercase;
    color: #1d1d1d;
}

.slick-arrow::before {
    display: none;
}
button.slick-next.slick-arrow {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 0;
    img {
        margin-left: 30px;
        width: 8px;
        height: 12px;
    }
}
button.slick-prew.slick-arrow img {
    margin-right: 30px;
    width: 8px;
    height: 12px;
}
.detail__slider-mark {
    text-align: center;
}
//end detail page
